

:root {
  --color-primary-light: oklch(69.14% 0.1603 309.79);
  --color-primary-medium: oklch(60% 0.1603 309.79);
  --color-primary-dark: oklch(44.51% 0.1603 309.79);

  --color-secondary-light: oklch(70% 0.1 274.33);
  --color-secondary-medium: oklch(60% 0.1 274.33);
  --color-secondary-dark: oklch(44.51% 0.1 274.33);
}

body {
  display: flex;
  flex-direction: row;
  margin: 0;
  width: 100vw;
  height: 100vh;
}

main {
  width: 100%;
  height: 100%;
}


